# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# Logs
*.log
[Ll]ogs/

# Test
[Tt]est[Rr]esult*/
TestResult.xml

# VS / IDE
.vs/
.vscode/
.idea/

# NuGet
*.nupkg
*.snupkg

# .NET Core
project.lock.json
artifacts/

# Temp
tmp/
temp/
~$*
*~

# Coverage
CodeCoverage/

# ENV / Secrets (IMPORTANT)
.env
.env.*
secrets.json

# Local configs
appsettings.Development.json
appsettings.Local.json

# Docker
docker-compose.override.yml